{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}ChipIn{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'chipin/styles.css' %}">
</head>
<body>
    <header>
        <div class="user-info">
            {% if request.user.is_authenticated %}
                <a href="{% url 'chipin:home' %}">Home</a> <span>{{ request.user.profile.nickname }}</span>

                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                
            {% endif %}
        </div>
        {% block header_content %}{% endblock %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 ChipIn</p>
    </footer>
</body>
</html>