{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}ChipIn{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'chipin/styles.css' %}">
</head>
<body>
    <header>
        <div class="header-title">
            <h2>PreFlight</h2>
        </div>
        {% block header_content %}{% endblock %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 ChipIn</p>
    </footer>
</body>
</html>