{% extends 'chipin/base.html' %}
{% load static %}
{% block title %}Flight Logs{% endblock %}
{% block header_content %}<div class="header-page-title">Flight Logs</div>{% endblock %}
{% block content %}
    <div class="page-container">
        
        <div class="content-area">
            <!-- Content will be added here -->
        </div>
    </div>
        <div class="back-button-container">
            <a href="{% url 'chipin:home' %}" class="back-btn">Back</a>
        </div>
{% endblock %}
